@font-face {
  font-family: Uni-Sans-Heavy;
  src: url(/src/fonts/uni-sans/Uni\ Sans\ Heavy.otf);
}

@font-face {
  font-family: Uni-Sans-Thin;
  src: url(/src/fonts/uni-sans/Uni\ Sans\ Thin.otf);
}

@font-face {
  font-family: Uni-Sans-Regular;
  src: url(/src/fonts/uni-sans/Uni\ Sans\ Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Uni-Sans-Thin";
}

:root {
  --primary: rgb(210, 223, 223);
  --secondary: rgb(202, 194, 194);
}

html {
  background-color: rgb(151, 151, 151);
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  border: 2px solid black;
}

.side-bar {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100px;
  background-color: rgb(63, 63, 63);
  margin-right: 0;
  border: none;
  font-family: "Uni-Sans-Heavy";
}

.nav-item {
  margin: 1.2em auto;
}

.nav-item > button {
  background-color: unset;
  border: none;
  font-size: 1.2em;
  color: white;
  font-family: "Uni-Sans-Heavy";
}

.nav-item > button:hover {
  color: gray;
}

.side-bar.label {
  border-top: 1px solid white;
  color: white;
  margin: 1em;
  padding: 1em;
}

.content {
  width: 100%;
  background-color: grey;
  overflow-y: scroll;
}

.chat-rooms {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.chat-room {
  padding: 1em;
  margin: 1em;
  width: 100px;
  min-width: 70px;
  height: 100px;
  border: 1px solid black;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.rooms-shortcut {
  overflow-y: scroll;
}

.rooms-shortcut::-webkit-scrollbar {
  display: none;
}

.rooms-shortcut {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.room-shortcut-image {
  position: relative;
  display: block;
  height: 80px;
  width: 80px;
  background-color: rgba(245, 245, 245, 0.5);
  background-image: url(/src/assets/room-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 1em;
  border: 2px solid black;
}

.room-shortcut-image:hover {
  animation: room-shortcut 1s forwards 0s;
}

@keyframes room-shortcut {
  100% {
    background-color: whitesmoke;
  }
}

.chat-room-window {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.friends-list {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  background-color: rgba(212, 191, 191, 0.603);
}

.friend {
  margin: 0.5em 0;
  padding: 1em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(67, 67, 136, 0.212);
}

.friend > span {
  padding: 0 1em;
}

.chat {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.767);
}

.chat-messages {
  flex-grow: 1;
  min-width: 100px;
  max-width: 800px;
  width: 100%;
  background-color: grey;
  margin: 1em auto;
  overflow-y: scroll;
}

.chat-item {
  background-color: rgba(63, 63, 63, 0.5);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  word-wrap: break-word;
  color: whitesmoke;
}

.chat-user {
  font-weight: bold;
  color: aliceblue;
}

.chat-time {
  text-align: right;
}

.chat-message {
  padding-left: 0.5em;
}

.chat-item > * {
  margin: 0.5em;
  font-family: "Uni-Sans-Regular";
}

.chat-input {
  min-width: 100px;
  max-width: 800px;
  width: 100%;
  margin: 1em auto;
  font-family: "Uni-Sans-Regular";
  resize: none;
}

.chat-send {
  position: relative;
  color: white;
  margin: 1em;
  padding: 1em;
  border: 1px solid white;
}
